* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #E4A559;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}


.hero {
    background: url( https://www.shutterstock.com/image-vector/watercolor-illustration-baby-safari-animal-260nw-2158223891.jpg) no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5rem 2rem;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.btn {
    background-color: #eeac5b;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
} 

.btn:hover {
    background-color: rgb(248, 248, 248);
    color: #eeac5b;
}

.animales {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 3rem 2rem;
}

.animales {
    background-color: rgb(186, 209, 240);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.animales:hover {
    transform: translateY(-5px);
    color: #f9f9f9;
}

.animales img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.animales img:hover {
    transform: scale(1.05);
}

.animales h2 {
    margin-bottom: 0.5rem;
}

.animales a {
    color: #e60000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #eeac5b;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

